---
import type { MarkdownHeading } from 'astro'

interface Props {
  headlines: MarkdownHeading[]
}

const { headlines } = Astro.props
---
<div class="mb-4 rounded-md bg-secondary-light p-3 dark:bg-secondary-dark">
  <h2
    class="mb-2 font-RobotoCondensed text-xl font-medium uppercase md:mb-3 md:text-2xl"
  >
    Artikelnavigation
  </h2>
  <ol class="list-inside list-decimal">
    {
      headlines.map((headline) => {
        return (
          <li class="mb-1">
            <a
              class="font-RobotoCondensed uppercase underline hover:no-underline focus-visible:no-underline focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-highlight-light dark:focus-visible:outline-highlight-dark"
              href={`#${headline.slug}`}
              class=""
            >
              {headline.slug}
            </a>
          </li>
        );
      })
    }
  </ol>
</div>