---
interface Props {
  href: string;
  target?: boolean;
  style?: 'primary' | 'secondary'
}

const { href, target, style = 'primary' } = Astro.props;
---

<a
  class={`${style === 'primary' ? 'btn-primary' : 'btn-secondary'}`}
  href={href}
  target={target ? "_blank" : undefined}
  rel={target ? "noreferrer noopener" : undefined}
>
  <slot />
</a>
