---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="uppercase underline outline-offset-4 outline-highlight-light hover:no-underline focus-visible:no-underline focus-visible:outline dark:outline-highlight-dark"
  href={href}
>
  <slot />
</a>
