---
import SocialList from "./SocialList.astro";
import FooterLink from "./FooterLink.astro";
---

<footer class="flex justify-between pb-[88px] sm:pb-4">
  <ul class="flex gap-x-2">
    <li><FooterLink href="/">Home</FooterLink></li>
    <li><FooterLink href="/blog">Blog</FooterLink></li>
    <li><FooterLink href="/contact">Kontakt</FooterLink></li>
  </ul>
  <SocialList />
</footer>
