---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import { Icon } from 'astro-icon';
---

<header class="flex items-center justify-between py-4 font-medium">
	<HeaderLink href="/">
		<Icon name="logo" class="w-[100px]" />
	</HeaderLink>
	<nav class="flex items-center justify-center gap-2">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">Über mich</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/contact">Kontakt</HeaderLink>
		<ThemeToggle />
	</nav>
</header>
