---
import MobileNavigationLink from "./MobileNavigationLink.astro";
---
<nav class="fixed flex items-center justify-evenly bottom-0 left-0 z-10 w-full h-max py-4 bg-secondary-dark text-primary-light dark:bg-secondary-light dark:text-primary-dark sm:hidden">
  <MobileNavigationLink icon="ic:baseline-home" href="/">Home</MobileNavigationLink>
  <MobileNavigationLink icon="foundation:page-edit" href="/blog">Blog</MobileNavigationLink>
  <MobileNavigationLink icon="ic:baseline-email" href="/contact">Kontakt</MobileNavigationLink>
</nav>