---
interface Props {
  classNames?: string[];
}

const { classNames } = Astro.props;

import { Icon } from "astro-icon";
---

<ul class={classNames ? classNames.join(' ') : ''}>
  <li>
    <a
      class="sociallink"
      title="Github"
      href="https://github.com/tufancal"
      target="_blank"
      rel="noreferrer"><Icon class="w-6" name="simple-icons:github" /> Github</a
    >
  </li>
  <li>
    <a
      class="sociallink"
      title="LinkedIn"
      href="https://www.linkedin.com/in/tufan-calisir/"
      target="_blank"
      rel="noreferrer"><Icon class="w-6" name="simple-icons:linkedin" /> LinkedIn</a
    >
  </li>
  <li>
    <a
      class="sociallink"
      title="Twitter"
      href="https://twitter.com/twofun2fun"
      target="_blank"
      rel="noreferrer"><Icon class="w-6" name="simple-icons:twitter" /> Twitter</a
    >
  </li>
</ul>
