<div
	class="js-theme-toggle p-1 hover:cursor-pointer text-secondary-light bg-tertiary-light rounded-full"
>
	<img src="/moon-filled-loop.svg" alt="Mond" data-dark width="24" height="24" />
	<img
		src="/sun-rising-loop.svg"
		alt="Sonne"
		data-light
    class="hidden"
		width="24" height="24"
	/>
</div>