---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Head from "../components/Head.astro";
import "../styles/main.css";

interface Props {
  title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
  <Head title={title} description={description} />
  <body
    class="bg-primary-light font-Roboto text-primary-dark dark:bg-primary-dark dark:text-primary-light"
  >
    <main class="mx-auto max-w-5xl px-4 md:px-8">
      <Header />
      <slot />
      <Footer />
    </main>
    <script>
      import "../js/index";
    </script>
  </body>
</html>
